.oriInsightContainer{
    .alignInsightDownIcon {
        top: 83px;
        left: -25px;
    }

    .intentDropdown {
        .ant-select-selection {
            border-radius: 1px !important;
        }
    }
}