.oriEntityEditorContainer {
    .alignInsightDeleteIcon {
        top: -3px;
        right: -35px;
    }
    
    .entityTreeSelect {
        .ant-select-selection {
            border-radius: 1px !important;
        }
    }
}
